In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [2]:
da_HTS1 = pd.read_csv("2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_HTS_2018.csv", encoding = 'cp949')
da_HTS2 = pd.read_csv("2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_HTS_2019.csv", encoding = 'cp949' )
da_HTS3 = pd.read_csv("2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_HTS_2020.csv", encoding = 'cp949')
da_HTS4 = pd.read_csv("2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_HTS_2021.csv", encoding = 'cp949')

da_plan = pd.read_csv("2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_경기일정_2021.csv",encoding = 'cp949')

da_member1 = pd.read_csv("2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_선수_2018.csv", encoding = 'cp949')
da_member2 = pd.read_csv("2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_선수_2019.csv", encoding = 'cp949')
da_member3 = pd.read_csv("2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_선수_2020.csv", encoding = 'cp949')
da_member4 = pd.read_csv("2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_선수_2021.csv", encoding = 'cp949')

da_hit1 = pd.read_csv("2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_타자 기본_2018.csv", encoding = 'cp949')
da_hit2 = pd.read_csv("2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_타자 기본_2019.csv", encoding = 'cp949')
da_hit3 = pd.read_csv("2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_타자 기본_2020.csv", encoding = 'cp949')
da_hit4 = pd.read_csv("2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_타자 기본_2021.csv", encoding = 'cp949')

da_team = pd.read_csv("2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_팀.csv", encoding = 'cp949')

In [81]:
a

{60100: '백창수',
 60105: '배민관',
 60140: '신정락',
 60146: '이승현',
 60181: '김지용',
 60184: '김창혁',
 60255: '장민익',
 60263: '이재학',
 60288: '김응민',
 60336: '문성현',
 60337: '김대유',
 60339: '김건태',
 60343: '이해창',
 60441: '임진우',
 60456: '백상원',
 60523: '정훈',
 60558: '오태곤',
 60559: '박시영',
 60566: '이상호',
 60605: '홍재호',
 60634: '임기준',
 60636: '심동섭',
 60648: '이인행',
 60658: '최병연',
 60693: '이준호',
 60757: '김경태',
 60764: '김용주',
 60768: '이태양',
 60805: '최윤석',
 60841: '박종훈',
 60845: '문광은',
 61101: '임찬규',
 61102: '유강남',
 61104: '정병곤',
 61114: '김재율',
 61145: '이우찬',
 61186: '이천웅',
 61197: '최영진',
 61204: '김동한',
 61208: '정진호',
 61214: '이현호',
 61240: '니퍼트',
 61268: '양현',
 61295: '강동연',
 61329: '윤지웅',
 61353: '고종욱',
 61360: '김도현',
 61365: '김대우',
 61366: '홍성갑',
 61396: '박정준',
 61404: '김헌곤',
 61411: '심창민',
 61456: '윤영삼',
 61457: '임현준',
 61496: '황수범',
 61554: '김민하',
 61557: '이정담',
 61566: '허일',
 61591: '김사훈',
 61643: '홍건희',
 61652: '윤정우',
 61666: '한승혁',
 61700: '강경학',
 61743: '오준혁',
 61865: '이윤재',
 61869: '정진기',
 61891: '임정우',
 61895: '서진용',
 61896: '최진호',
 61962: '김정후',
 62007: '김지성',
 62016: '윤병호',
 62025: '이원재',
 62056: '정영일',
 62146: '최성훈',
 62147: '조윤준',
 62160: '신동훈',
 62164: '서상우',
 62234: '류지혁',
 62244: '박세혁',
 62263: '변진수',
 62265: '유민상',
 62332: '김재현',
 62353: '박정음',
 62356: '김규민',
 62360: '김동준',
 62363: '한현희',
 62404: '구자욱',
 62409: '박찬도',
 62415: '박해민',
 62499: '이현동',
 62528: '김원중',
 62537: '윤수강',
 62556: '신본기',
 62559: '김상호',
 62595: '정태승',
 62611: '임준섭',
 62637: '박지훈',
 62648: '김윤동',
 62655: '홍성민',
 62696: '김종훈',
 62698: '소사',
 62700: '하주석',
 62748: '엄태용',
 62754: '임기영',
 62770: '윤승열',
 62797: '양성우',
 62802: '박승욱',
 62864: '김민식',
 62869: '문승원',
 62884: '최항',
 62892: '허건엽',
 62893: '최정민',
 62895: '한동민',
 62907: '박민우',
 62908: '황윤호',
 62917: '강구성',
 62918: '김태형',
 62920: '노성호',
 62921: '박헌욱',
 62925: '강진성',
 62929: '이민호',
 62931: '노진혁',
 62934: '김성욱',
 62937: '신재영',
 62947: '나성범',
 62951: '이형범',
 62966: '최금강',
 63027: '안성무',
 63088: '김진곤',
 63111: '류제국',
 63123: '강승호',
 63125: '김재민',
 63137: '이윤학',
 63145: '배재준',
 63202: '장승현',
 63248: '함덕주',
 63257: '김인태',
 63260: '이우성',
 63292: '박종기',
 63342: '조상우',
 63348: '조덕길',
 63360: '장시윤',
 63440: '이흥련',
 63448: '김영환',
 63450: '정현',
 63512: '박진형',
 63543: '구승민',
 63554: '임종혁',
 63559: '백민기',
 63593: '조홍석',
 63619: '손동욱',
 63628: '고영창',
 63638: '박준표',
 63704: '노수광',
 63722: '한승택',
 63749: '이충호',
 63765: '김종수',
 63895: '최민재',
 63903: '유영준',
 63905: '윤대영',
 63936: '윤강민',
 63938: '해커',
 63950: '장현식',
 63960: '이상민',
 63963: '권희동',
 63967: '박으뜸',
 63991: '박진우',
 64001: '고영표',
 64006: '심우준',
 64011: '안승한',
 64012: '송민섭',
 64014: '김병희',
 64017: '심재민',
 64021: '박세웅',
 64022: '안중열',
 64029: '류희운',
 64051: '이영준',
 64055: '양형진',
 64086: '신성현',
 64115: '장준원',
 64117: '양원혁',
 64153: '양석환',
 64155: '임지섭',
 64166: '배정대',
 64255: '한주성',
 64266: '이성곤',
 64300: '김하성',
 64346: '임병욱',
 64350: '하영민',
 64407: '김호재',
 64410: '백승민',
 64462: '안규현',
 64464: '이수민',
 64469: '송준석',
 64499: '김재현',
 64504: '오윤석',
 64554: '문동욱',
 64560: '이창진',
 64565: '이인복',
 64594: '심규범',
 64610: '강한울',
 64657: '박준태',
 64717: '지성준',
 64718: '최영환',
 64724: '박준혁',
 64759: '서균',
 64760: '황영국',
 64793: '김민수',
 64805: '이승진',
 64868: '조용호',
 64893: '박민호',
 64906: '강민국',
 64907: '강장산',
 64944: '박광열',
 64984: '김태진',
 64987: '홍지운',
 64995: '배재환',
 65040: '김태훈',
 65042: '홍성무',
 65044: '김만수',
 65048: '김민수',
 65056: '엄상백',
 65058: '정성곤',
 65060: '주권',
 65062: '김재윤',
 65064: '윤수호',
 65067: '조무근',
 65096: '정주후',
 65109: '백승현',
 65115: '안익훈',
 65132: '김재성',
 65136: '박지규',
 65157: '최민창',
 65209: '사공엽',
 65269: '김민혁',
 65320: '최원태',
 65331: '피어밴드',
 65343: '김택형',
 65345: '김해수',
 65357: '송성문',
 65392: '김정인',
 65399: '허정협',
 65412: '권정웅',
 65509: '차재용',
 65514: '강동관',
 65516: '배제성',
 65543: '린드블럼',
 65546: '레일리',
 65586: '전병우',
 65616: '이민우',
 65618: '황인준',
 65639: '박정수',
 65643: '문경찬',
 65661: '이종석',
 65703: '이도윤',
 65742: '로저스',
 65764: '김민우',
 65769: '김범수',
 65802: '봉민호',
 65844: '박세웅',
 65856: '켈리',
 65896: '허웅',
 65908: '류재인',
 65933: '구창모',
 65964: '이우석',
 66018: '김선기',
 66047: '박세진',
 66052: '남태혁',
 66064: '김태오',
 66068: '서의태',
 66098: '김도영',
 66108: '홍창기',
 66112: '김기연',
 66145: '김대현',
 66160: '유재유',
 66162: '김주성',
 66201: '고봉재',
 66207: '황경태',
 66209: '조수행',
 66291: '이영하',
 66354: '주효상',
 66357: '안현석',
 66392: '김종덕',
 66397: '김성현',
 66398: '이찬석',
 66399: '김성택',
 66406: '안주형',
 66444: '이케빈',
 66451: '최충연',
 66462: '김성훈',
 66469: '황선도',
 66492: '김승현',
 66504: '이찬건',
 66508: '나경민',
 66558: '임지유',
 66606: '최원준',
 66609: '전상현',
 66615: '류승현',
 66643: '헥터',
 66662: '신범수',
 66702: '이동훈',
 66704: '김태연',
 66706: '장진혁',
 66710: '강상원',
 66715: '김인환',
 66716: '정경운',
 66741: '김재영',
 66804: '노관현',
 66833: '임석진',
 66838: '김동엽',
 66858: '정동윤',
 66859: '김주한',
 66864: '안상현',
 66917: '김찬형',
 66920: '최성영',
 66960: '정수민',
 66965: '도태훈',
 66968: '이재율',
 66992: '조원빈',
 67005: '홍현빈',
 67025: '로하스',
 67048: '이정현',
 67066: '이종혁',
 67119: '고우석',
 67122: '김태형',
 67143: '손주영',
 67202: '박유연',
 67207: '이병휘',
 67246: '김명신',
 67263: '최원준',
 67266: '박치국',
 67304: '김혜성',
 67313: '브리검',
 67341: '이정후',
 67360: '오윤성',
 67394: '초이스',
 67421: '최지광',
 67443: '장지훈',
 67449: '김성윤',
 67450: '러프',
 67454: '나원탁',
 67467: '김시현',
 67539: '나종덕',
 67588: '윤성빈',
 67598: '번즈',
 67603: '이승호',
 67610: '김석환',
 67640: '유승철',
 67645: '팻딘',
 67650: '버나디나',
 67668: '정윤환',
 67703: '박상원',
 67737: '김진영',
 67760: '원혁재',
 67762: '김성훈',
 67768: '김병현',
 67828: '김성민',
 67840: '남윤성',
 67863: '이원준',
 67872: '로맥',
 67893: '박성한',
 67935: '스크럭스',
 67944: '신진호',
 67993: '이재용',
 68036: '최건',
 68043: '김민',
 68050: '강백호',
 68067: '신병률',
 68068: '박재영',
 68069: '고명성',
 68092: '한두솔',
 68097: '박주현',
 68100: '최현준',
 68103: '가르시아',
 68119: '문성주',
 68130: '김영준',
 68135: '윌슨',
 68157: '이강욱',
 68159: '성동현',
 68200: '김민규',
 68201: '박성모',
 68204: '권민석',
 68205: '전민재',
 68207: '배창현',
 68208: '신현수',
 68209: '정우석',
 68211: '이승민',
 68220: '곽빈',
 68240: '후랭코프',
 68242: '정철원',
 68244: '파레디스',
 68245: '반슬라이크',
 68249: '박신지',
 68260: '현도훈',
 68302: '배현호',
 68330: '예진원',
 68341: '안우진',
 68345: '샌즈',
 68346: '김수환',
 68362: '추재현',
 68400: '보니야',
 68415: '양창섭',
 68419: '최채흥',
 68435: '아델만',
 68453: '김용하',
 68454: '김태우',
 68463: '윤정빈',
 68466: '이태훈',
 68468: '서주원',
 68504: '이호연',
 68525: '한동희',
 68526: '듀브론트',
 68529: '이승헌',
 68556: '정성종',
 68585: '김도규',
 68589: '김동우',
 68639: '하준영',
 68646: '한준수',
 68659: '김유신',
 68661: '윤희영',
 68669: '이원빈',
 68701: '김진욱',
 68703: '박주홍',
 68707: '김민기',
 68730: '호잉',
 68742: '휠러',
 68743: '정은원',
 68748: '샘슨',
 68794: '헤일',
 68797: '이승관',
 68798: '성시헌',
 68815: '산체스',
 68830: '김정우',
 68848: '조성훈',
 68856: '최민준',
 68868: '최준우',
 68869: '전경원',
 68896: '이채호',
 68900: '김영규',
 68901: '이인혁',
 68904: '오영수',
 68906: '김철호',
 68908: '김재균',
 68909: '최보성',
 68912: '김형준',
 68928: '김시훈',
 68948: '왕웨이중',
 68953: '베렛',
 68968: '공수빈',
 70410: '김주찬',
 70425: '배영수',
 70553: '박기혁',
 70756: '이범호',
 71118: '이동현',
 71184: '이성우',
 71347: '장민석',
 71432: '박한이',
 71552: '최준석',
 71564: '이대호',
 71752: '김태균',
 71837: '김강민',
 71842: '정상호',
 71845: '채병용',
 71848: '조동화',
 72133: '박용택',
 72443: '최형우',
 72447: '권혁',
 72456: '손주인',
 72466: '조동찬',
 72523: '고효준',
 72535: '이명우',
 72546: '문규현',
 72551: '이정민',
 72559: '신종길',
 72860: '이대수',
 72862: '윤길현',
 73113: '박경수',
 73117: '우규민',
 73136: '이성열',
 73153: '이대형',
 73209: '나주환',
 73211: '노경은',
 73213: '손시헌',
 73248: '김승회',
 73306: '지석훈',
 73339: '이종욱',
 73342: '이택근',
 73606: '서동욱',
 73632: '임준혁',
 73738: '안영명',
 73750: '윤규진',
 73801: '송은범',
 74163: '이용규',
 74167: '심수창',
 74206: '김재호',
 74215: '윤석민',
 74339: '유한준',
 74358: '조평호',
 74359: '오주원',
 74454: '윤성환',
 74465: '박석민',
 74513: '장원준',
 74540: '강민호',
 74543: '최대성',
 74605: '김주형',
 74630: '박근홍',
 74729: '최진행',
 74731: '송창식',
 74748: '정재원',
 74823: '임훈',
 74838: '윤희상',
 74846: '박정권',
 74857: '정우람',
 75125: '박병호',
 75138: '신재웅',
 75149: '홍성용',
 75151: '정의윤',
 75250: '박정배',
 75258: '금민철',
 75321: '손승락',
 75334: '오재일',
 75340: '전유수',
 75342: '이보근',
 75537: '조정훈',
 75566: '이원석',
 75620: '윤석민',
 75668: '곽정철',
 75730: '윤근영',
 75808: '정근우',
 75847: '최정',
 75867: '김진성',
 76100: '이병규',
 76118: '원종현',
 76158: '최승준',
 76225: '김건국',
 76232: '양의지',
 76249: '민병헌',
 76267: '최주환',
 76290: '김현수',
 76313: '황재균',
 76329: '이현승',
 76350: '김세현',
 76355: '장원삼',
 76368: '유재신',
 76430: '김상수',
 76455: '차우찬',
 76461: '김기태',
 76509: '김문호',
 76540: '배장호',
 76610: '한기주',
 76639: '손영민',
 76650: '진해수',
 76653: '박경태',
 76720: '정범모',
 76746: '김태완',
 76753: '송광민',
 76757: '유원상',
 76802: '김성현',
 76812: '이재원',
 76849: '이명기',
 76858: '박희수',
 76869: '김재현',
 77147: '봉중근',
 77211: '이용찬',
 77243: '허도환',
 77248: '오재원',
 77263: '김강률',
 77318: '장시환',
 77446: '백정현',
 77452: '이동걸',
 77462: '김동욱',
 77463: '채태인',
 77466: '최원제',
 77532: '손아섭',
 77563: '이상화',
 77564: '김민성',
 77591: '송승준',
 77637: '양현종',
 77648: '이호신',
 77654: '이준수',
 77748: '김혁민',
 77829: '김광현',
 77927: '장필준',
 78135: '이형종',
 78148: '정찬헌',
 78168: '서건창',
 78217: '김용의',
 78224: '김재환',
 78247: '홍상삼',
 78248: '고창성',
 78288: '최재훈',
 78352: '임창민',
 78361: '전민수',
 78366: '민태호',
 78467: '이영욱',
 78513: '전준우',
 78517: '하준호',
 78536: '김대우',
 78548: '장성우',
 78552: '강승현',
 78566: '황진수',
 78603: '김선빈',
 78629: '나지완',
 78643: '백용환',
 78753: '김지열',
 78756: '오선진',
 78813: '모창민',
 78819: '백인식',
 79109: '오지환',
 79113: '문선재',
 79130: '강지광',
 79140: '최동환',
 79150: '정주현',
 79191: '배우열',
 79192: '채은성',
 79198: '윤진호',
 79215: '박건우',
 79222: '성영훈',
 79229: '유희관',
 79231: '정수빈',
 79240: '허경민',
 79290: '국해성',
 79293: '오현택',
 79300: '김지수',
 79334: '장영석',
 79339: '전인환',
 79356: '박헌도',
 79358: '강윤구',
 79364: '김종민',
 79365: '박동원',
 79402: '김상수',
 79440: '정인욱',
 79453: '오정복',
 79456: '이지영',
 79465: '배영섭',
 79530: '양종민',
 79535: '허준혁',
 79545: '진명호',
 79608: '안치홍',
 79617: '정용운',
 79705: '김회성',
 79764: '장민재',
 79791: '김동호',
 79825: '여건욱',
 79847: '김태훈',
 95657: '임창용',
 99445: '권오준',
 99563: '김사율',
 99606: '정성훈',
 99737: '박정진',
 99810: '이진영'}

In [84]:
a

{60100: '백창수',
 60105: '배민관',
 60140: '신정락',
 60146: '이승현',
 60181: '김지용',
 60184: '김창혁',
 60255: '장민익',
 60263: '이재학',
 60288: '김응민',
 60336: '문성현',
 60337: '김대유',
 60339: '김건태',
 60343: '이해창',
 60441: '임진우',
 60456: '백상원',
 60523: '정훈',
 60558: '오태곤',
 60559: '박시영',
 60566: '이상호',
 60605: '홍재호',
 60634: '임기준',
 60636: '심동섭',
 60648: '이인행',
 60658: '최병연',
 60693: '이준호',
 60757: '김경태',
 60764: '김용주',
 60768: '이태양',
 60805: '최윤석',
 60841: '박종훈',
 60845: '문광은',
 61101: '임찬규',
 61102: '유강남',
 61104: '정병곤',
 61114: '김재율',
 61145: '이우찬',
 61186: '이천웅',
 61197: '최영진',
 61204: '김동한',
 61208: '정진호',
 61214: '이현호',
 61240: '니퍼트',
 61268: '양현',
 61295: '강동연',
 61329: '윤지웅',
 61353: '고종욱',
 61360: '김도현',
 61365: '김대우',
 61366: '홍성갑',
 61396: '박정준',
 61404: '김헌곤',
 61411: '심창민',
 61456: '윤영삼',
 61457: '임현준',
 61496: '황수범',
 61554: '김민하',
 61557: '이정담',
 61566: '허일',
 61591: '김사훈',
 61643: '홍건희',
 61652: '윤정우',
 61666: '한승혁',
 61700: '강경학',
 61743: '오준혁',
 61865: '이윤재',
 61869: '정진기',
 61891: '임정우',
 61895: '서진용',
 61896: '최진호',
 61962: '김정후',
 62007: '김지성',
 62016: '윤병호',
 62025: '이원재',
 62056: '정영일',
 62146: '최성훈',
 62147: '조윤준',
 62160: '신동훈',
 62164: '서상우',
 62234: '류지혁',
 62244: '박세혁',
 62263: '변진수',
 62265: '유민상',
 62332: '김재현',
 62353: '박정음',
 62356: '김규민',
 62360: '김동준',
 62363: '한현희',
 62404: '구자욱',
 62409: '박찬도',
 62415: '박해민',
 62499: '이현동',
 62528: '김원중',
 62537: '윤수강',
 62556: '신본기',
 62559: '김상호',
 62595: '정태승',
 62611: '임준섭',
 62637: '박지훈',
 62648: '김윤동',
 62655: '홍성민',
 62696: '김종훈',
 62698: '소사',
 62700: '하주석',
 62748: '엄태용',
 62754: '임기영',
 62770: '윤승열',
 62797: '양성우',
 62802: '박승욱',
 62864: '김민식',
 62869: '문승원',
 62884: '최항',
 62892: '허건엽',
 62893: '최정민',
 62895: '한동민',
 62907: '박민우',
 62908: '황윤호',
 62917: '강구성',
 62918: '김태형',
 62920: '노성호',
 62921: '박헌욱',
 62925: '강진성',
 62929: '이민호',
 62931: '노진혁',
 62934: '김성욱',
 62937: '신재영',
 62947: '나성범',
 62951: '이형범',
 62966: '최금강',
 63027: '안성무',
 63088: '김진곤',
 63111: '류제국',
 63123: '강승호',
 63125: '김재민',
 63137: '이윤학',
 63145: '배재준',
 63202: '장승현',
 63248: '함덕주',
 63257: '김인태',
 63260: '이우성',
 63292: '박종기',
 63342: '조상우',
 63348: '조덕길',
 63360: '장시윤',
 63440: '이흥련',
 63448: '김영환',
 63450: '정현',
 63512: '박진형',
 63543: '구승민',
 63554: '임종혁',
 63559: '백민기',
 63593: '조홍석',
 63619: '손동욱',
 63628: '고영창',
 63638: '박준표',
 63704: '노수광',
 63722: '한승택',
 63749: '이충호',
 63765: '김종수',
 63895: '최민재',
 63903: '유영준',
 63905: '윤대영',
 63936: '윤강민',
 63938: '해커',
 63950: '장현식',
 63960: '이상민',
 63963: '권희동',
 63967: '박으뜸',
 63991: '박진우',
 64001: '고영표',
 64006: '심우준',
 64011: '안승한',
 64012: '송민섭',
 64014: '김병희',
 64017: '심재민',
 64021: '박세웅',
 64022: '안중열',
 64029: '류희운',
 64051: '이영준',
 64055: '양형진',
 64086: '신성현',
 64115: '장준원',
 64117: '양원혁',
 64153: '양석환',
 64155: '임지섭',
 64166: '배정대',
 64255: '한주성',
 64266: '이성곤',
 64300: '김하성',
 64346: '임병욱',
 64350: '하영민',
 64407: '김호재',
 64410: '백승민',
 64462: '안규현',
 64464: '이수민',
 64469: '송준석',
 64499: '김재현',
 64504: '오윤석',
 64554: '문동욱',
 64560: '이창진',
 64565: '이인복',
 64594: '심규범',
 64610: '강한울',
 64657: '박준태',
 64717: '지성준',
 64718: '최영환',
 64724: '박준혁',
 64759: '서균',
 64760: '황영국',
 64793: '김민수',
 64805: '이승진',
 64868: '조용호',
 64893: '박민호',
 64906: '강민국',
 64907: '강장산',
 64944: '박광열',
 64984: '김태진',
 64987: '홍지운',
 64995: '배재환',
 65040: '김태훈',
 65042: '홍성무',
 65044: '김만수',
 65048: '김민수',
 65056: '엄상백',
 65058: '정성곤',
 65060: '주권',
 65062: '김재윤',
 65064: '윤수호',
 65067: '조무근',
 65096: '정주후',
 65109: '백승현',
 65115: '안익훈',
 65132: '김재성',
 65136: '박지규',
 65157: '최민창',
 65209: '사공엽',
 65269: '김민혁',
 65320: '최원태',
 65331: '피어밴드',
 65343: '김택형',
 65345: '김해수',
 65357: '송성문',
 65392: '김정인',
 65399: '허정협',
 65412: '권정웅',
 65509: '차재용',
 65514: '강동관',
 65516: '배제성',
 65543: '린드블럼',
 65546: '레일리',
 65586: '전병우',
 65616: '이민우',
 65618: '황인준',
 65639: '박정수',
 65643: '문경찬',
 65661: '이종석',
 65703: '이도윤',
 65742: '로저스',
 65764: '김민우',
 65769: '김범수',
 65802: '봉민호',
 65844: '박세웅',
 65856: '켈리',
 65896: '허웅',
 65908: '류재인',
 65933: '구창모',
 65964: '이우석',
 66018: '김선기',
 66047: '박세진',
 66052: '남태혁',
 66064: '김태오',
 66068: '서의태',
 66098: '김도영',
 66108: '홍창기',
 66112: '김기연',
 66145: '김대현',
 66160: '유재유',
 66162: '김주성',
 66201: '고봉재',
 66207: '황경태',
 66209: '조수행',
 66291: '이영하',
 66354: '주효상',
 66357: '안현석',
 66392: '김종덕',
 66397: '김성현',
 66398: '이찬석',
 66399: '김성택',
 66406: '안주형',
 66444: '이케빈',
 66451: '최충연',
 66462: '김성훈',
 66469: '황선도',
 66492: '김승현',
 66504: '이찬건',
 66508: '나경민',
 66558: '임지유',
 66606: '최원준',
 66609: '전상현',
 66615: '류승현',
 66643: '헥터',
 66662: '신범수',
 66702: '이동훈',
 66704: '김태연',
 66706: '장진혁',
 66710: '강상원',
 66715: '김인환',
 66716: '정경운',
 66741: '김재영',
 66804: '노관현',
 66833: '임석진',
 66838: '김동엽',
 66858: '정동윤',
 66859: '김주한',
 66864: '안상현',
 66917: '김찬형',
 66920: '최성영',
 66960: '정수민',
 66965: '도태훈',
 66968: '이재율',
 66992: '조원빈',
 67005: '홍현빈',
 67025: '로하스',
 67048: '이정현',
 67066: '이종혁',
 67119: '고우석',
 67122: '김태형',
 67143: '손주영',
 67202: '박유연',
 67207: '이병휘',
 67246: '김명신',
 67263: '최원준',
 67266: '박치국',
 67304: '김혜성',
 67313: '브리검',
 67341: '이정후',
 67360: '오윤성',
 67394: '초이스',
 67421: '최지광',
 67443: '장지훈',
 67449: '김성윤',
 67450: '러프',
 67454: '나원탁',
 67467: '김시현',
 67539: '나종덕',
 67588: '윤성빈',
 67598: '번즈',
 67603: '이승호',
 67610: '김석환',
 67640: '유승철',
 67645: '팻딘',
 67650: '버나디나',
 67668: '정윤환',
 67703: '박상원',
 67737: '김진영',
 67760: '원혁재',
 67762: '김성훈',
 67768: '김병현',
 67828: '김성민',
 67840: '남윤성',
 67863: '이원준',
 67872: '로맥',
 67893: '박성한',
 67935: '스크럭스',
 67944: '신진호',
 67993: '이재용',
 68036: '최건',
 68043: '김민',
 68050: '강백호',
 68067: '신병률',
 68068: '박재영',
 68069: '고명성',
 68092: '한두솔',
 68097: '박주현',
 68100: '최현준',
 68103: '가르시아',
 68119: '문성주',
 68130: '김영준',
 68135: '윌슨',
 68157: '이강욱',
 68159: '성동현',
 68200: '김민규',
 68201: '박성모',
 68204: '권민석',
 68205: '전민재',
 68207: '배창현',
 68208: '신현수',
 68209: '정우석',
 68211: '이승민',
 68220: '곽빈',
 68240: '후랭코프',
 68242: '정철원',
 68244: '파레디스',
 68245: '반슬라이크',
 68249: '박신지',
 68260: '현도훈',
 68302: '배현호',
 68330: '예진원',
 68341: '안우진',
 68345: '샌즈',
 68346: '김수환',
 68362: '추재현',
 68400: '보니야',
 68415: '양창섭',
 68419: '최채흥',
 68435: '아델만',
 68453: '김용하',
 68454: '김태우',
 68463: '윤정빈',
 68466: '이태훈',
 68468: '서주원',
 68504: '이호연',
 68525: '한동희',
 68526: '듀브론트',
 68529: '이승헌',
 68556: '정성종',
 68585: '김도규',
 68589: '김동우',
 68639: '하준영',
 68646: '한준수',
 68659: '김유신',
 68661: '윤희영',
 68669: '이원빈',
 68701: '김진욱',
 68703: '박주홍',
 68707: '김민기',
 68730: '호잉',
 68742: '휠러',
 68743: '정은원',
 68748: '샘슨',
 68794: '헤일',
 68797: '이승관',
 68798: '성시헌',
 68815: '산체스',
 68830: '김정우',
 68848: '조성훈',
 68856: '최민준',
 68868: '최준우',
 68869: '전경원',
 68896: '이채호',
 68900: '김영규',
 68901: '이인혁',
 68904: '오영수',
 68906: '김철호',
 68908: '김재균',
 68909: '최보성',
 68912: '김형준',
 68928: '김시훈',
 68948: '왕웨이중',
 68953: '베렛',
 68968: '공수빈',
 70410: '김주찬',
 70425: '배영수',
 70553: '박기혁',
 70756: '이범호',
 71118: '이동현',
 71184: '이성우',
 71347: '장민석',
 71432: '박한이',
 71552: '최준석',
 71564: '이대호',
 71752: '김태균',
 71837: '김강민',
 71842: '정상호',
 71845: '채병용',
 71848: '조동화',
 72133: '박용택',
 72443: '최형우',
 72447: '권혁',
 72456: '손주인',
 72466: '조동찬',
 72523: '고효준',
 72535: '이명우',
 72546: '문규현',
 72551: '이정민',
 72559: '신종길',
 72860: '이대수',
 72862: '윤길현',
 73113: '박경수',
 73117: '우규민',
 73136: '이성열',
 73153: '이대형',
 73209: '나주환',
 73211: '노경은',
 73213: '손시헌',
 73248: '김승회',
 73306: '지석훈',
 73339: '이종욱',
 73342: '이택근',
 73606: '서동욱',
 73632: '임준혁',
 73738: '안영명',
 73750: '윤규진',
 73801: '송은범',
 74163: '이용규',
 74167: '심수창',
 74206: '김재호',
 74215: '윤석민',
 74339: '유한준',
 74358: '조평호',
 74359: '오주원',
 74454: '윤성환',
 74465: '박석민',
 74513: '장원준',
 74540: '강민호',
 74543: '최대성',
 74605: '김주형',
 74630: '박근홍',
 74729: '최진행',
 74731: '송창식',
 74748: '정재원',
 74823: '임훈',
 74838: '윤희상',
 74846: '박정권',
 74857: '정우람',
 75125: '박병호',
 75138: '신재웅',
 75149: '홍성용',
 75151: '정의윤',
 75250: '박정배',
 75258: '금민철',
 75321: '손승락',
 75334: '오재일',
 75340: '전유수',
 75342: '이보근',
 75537: '조정훈',
 75566: '이원석',
 75620: '윤석민',
 75668: '곽정철',
 75730: '윤근영',
 75808: '정근우',
 75847: '최정',
 75867: '김진성',
 76100: '이병규',
 76118: '원종현',
 76158: '최승준',
 76225: '김건국',
 76232: '양의지',
 76249: '민병헌',
 76267: '최주환',
 76290: '김현수',
 76313: '황재균',
 76329: '이현승',
 76350: '김세현',
 76355: '장원삼',
 76368: '유재신',
 76430: '김상수',
 76455: '차우찬',
 76461: '김기태',
 76509: '김문호',
 76540: '배장호',
 76610: '한기주',
 76639: '손영민',
 76650: '진해수',
 76653: '박경태',
 76720: '정범모',
 76746: '김태완',
 76753: '송광민',
 76757: '유원상',
 76802: '김성현',
 76812: '이재원',
 76849: '이명기',
 76858: '박희수',
 76869: '김재현',
 77147: '봉중근',
 77211: '이용찬',
 77243: '허도환',
 77248: '오재원',
 77263: '김강률',
 77318: '장시환',
 77446: '백정현',
 77452: '이동걸',
 77462: '김동욱',
 77463: '채태인',
 77466: '최원제',
 77532: '손아섭',
 77563: '이상화',
 77564: '김민성',
 77591: '송승준',
 77637: '양현종',
 77648: '이호신',
 77654: '이준수',
 77748: '김혁민',
 77829: '김광현',
 77927: '장필준',
 78135: '이형종',
 78148: '정찬헌',
 78168: '서건창',
 78217: '김용의',
 78224: '김재환',
 78247: '홍상삼',
 78248: '고창성',
 78288: '최재훈',
 78352: '임창민',
 78361: '전민수',
 78366: '민태호',
 78467: '이영욱',
 78513: '전준우',
 78517: '하준호',
 78536: '김대우',
 78548: '장성우',
 78552: '강승현',
 78566: '황진수',
 78603: '김선빈',
 78629: '나지완',
 78643: '백용환',
 78753: '김지열',
 78756: '오선진',
 78813: '모창민',
 78819: '백인식',
 79109: '오지환',
 79113: '문선재',
 79130: '강지광',
 79140: '최동환',
 79150: '정주현',
 79191: '배우열',
 79192: '채은성',
 79198: '윤진호',
 79215: '박건우',
 79222: '성영훈',
 79229: '유희관',
 79231: '정수빈',
 79240: '허경민',
 79290: '국해성',
 79293: '오현택',
 79300: '김지수',
 79334: '장영석',
 79339: '전인환',
 79356: '박헌도',
 79358: '강윤구',
 79364: '김종민',
 79365: '박동원',
 79402: '김상수',
 79440: '정인욱',
 79453: '오정복',
 79456: '이지영',
 79465: '배영섭',
 79530: '양종민',
 79535: '허준혁',
 79545: '진명호',
 79608: '안치홍',
 79617: '정용운',
 79705: '김회성',
 79764: '장민재',
 79791: '김동호',
 79825: '여건욱',
 79847: '김태훈',
 95657: '임창용',
 99445: '권오준',
 99563: '김사율',
 99606: '정성훈',
 99737: '박정진',
 99810: '이진영'}

In [83]:
# mapping index
a = {}
for i in range(len(da_member1)):
    a[da_member1["PCODE"][i]] = da_member1["NAME"][i]

# mapping 
P_to_N = []
for i in da_HTS1["PCODE"]:
    a.get(i)

TypeError: unhashable type: 'list'

In [36]:
indexs = [3,6,7,8,9,10]
da_HTS1.iloc[:,indexs]


da_2018ver = da_HTS1.iloc[:,indexs]
#da_2018ver["NAME"] = P_to_N
da_2018ver.insert(1,"NAME", P_to_N)

       PCODE  HIT_VEL  HIT_ANG_VER HIT_RESULT  PIT_VEL STADIUM
0      62797   131.50         42.7        플라이   149.59      고척
1      76753   135.18          9.9        1루타   148.78      고척
2      71752   152.41          2.1        1루타   148.59      고척
3      62700   113.72         13.5        1루타   139.13      고척
4      68730    54.11         16.4       번트안타   134.07      고척
...      ...      ...          ...        ...      ...     ...
35024  75334   161.12         -7.4        1루타   145.81      사직
35025  68205   131.71         26.4        플라이   146.38      사직
35026  76509   119.64         28.8        플라이   141.23      사직
35027  60523   164.98         15.7        직선타   125.59      사직
35028  65586   154.77         14.6        2루타   142.29      사직

[35029 rows x 6 columns]

In [86]:
da_2018ver["HIT_RESULT"].unique()

array(['플라이', '1루타', '번트안타', '땅볼아웃', '홈런', '2루타', '파울플라이', '3루타', '직선타',
       '희생번트', '내야안타(1루타)', '희생플라이', '병살타', '인필드플라이', '번트아웃', '야수선택'],
      dtype=object)

## 어떻게 하면, Nominal value 를 ordinal로 혹은 숫자로 바꿀 수 있을까?
 1) 단순, 1루타, 2루타, 3루타, 홈런을 1,2,3,4 로 표현하자
 
 2) 이 때, 나머지, 직선타, 플라이, 인필드플라이, 희생플라이는 어떻게 판단할까?
 
 3) 희생번트, 내야안타는?
 
 4) 나머지는?

In [12]:
da_HTS1
da_member1
da_hit1

     GYEAR  PCODE NAME T_ID POSITION  AGE_VA    MONEY
0     2018  60100  백창수   HH        외      30   5000만원
1     2018  60105  배민관   LG        투      26   3200만원
2     2018  60140  신정락   LG        투      31  10500만원
3     2018  60146  이승현   SS        투      26   7000만원
4     2018  60181  김지용   LG        투      30   9000만원
..     ...    ...  ...  ...      ...     ...      ...
647   2018  99445  권오준   SS        투      38  15000만원
648   2018  99563  김사율   KT        투      38  15000만원
649   2018  99606  정성훈   HT        내      38  10000만원
650   2018  99737  박정진   HH        투      42  25000만원
651   2018  99810  이진영   KT        외      38  40000만원

[652 rows x 7 columns]

In [3]:
da_plan.head(4)

            G_ID     GDAY_DS VISIT_KEY HOME_KEY  HEADER_NO GWEEK STADIUM  ACG
0  20210403SSWO0  20210403.0        SS       WO          0     토      고척    1
1  20210404HHKT0  20210404.0        HH       KT          0     일      수원    1
2  20210404HTOB0  20210404.0        HT       OB          0     일      잠실    1
3  20210404LGNC0  20210404.0        LG       NC          0     일      창원    1

In [14]:
da_HTS1.iloc[:,2:5]

              PIT_ID  PCODE T_ID
0      180324_140436  62797   HH
1      180324_140514  76753   HH
2      180324_140647  71752   HH
3      180324_140911  62700   HH
4      180324_142050  68730   HH
...              ...    ...  ...
35024  181014_161746  75334   OB
35025  181014_162521  68205   OB
35026  181014_162755  76509   LT
35027  181014_162938  60523   LT
35028  181014_163022  65586   LT

[35029 rows x 3 columns]

In [5]:
da_member1.head(4)

   GYEAR  PCODE NAME T_ID POSITION  AGE_VA    MONEY
0   2018  60100  백창수   HH        외      30   5000만원
1   2018  60105  배민관   LG        투      26   3200만원
2   2018  60140  신정락   LG        투      31  10500만원
3   2018  60146  이승현   SS        투      26   7000만원

In [7]:
da_hit1.head(4)

,GYEAR,PCODE,GAMENUM,PA,AB,BA,HIT,HR,TOTB,SLG,SF,BB,KK,IB,HP,GD
0,2018,60100,70,169,152,0.243,37,3,63,0.414,1,12,36,0,4,5
1,2018,60184,6,10,10,0.200,2,0,3,0.300,0,0,3,0,0,0
2,2018,60288,1,1,1,0.000,0,0,0,0.000,0,0,0,0,0,0
3,2018,60343,83,174,162,0.216,35,8,63,0.389,0,8,49,0,3,3

In [8]:
da_team

    SEASON_ID T_ID T_NM
0        2016   HH   한화
1        2016   HT  KIA
2        2016   KT   KT
3        2016   LG   LG
4        2016   LT   롯데
5        2016   NC   NC
6        2016   OB   두산
7        2016   SK   SK
8        2016   SS   삼성
9        2016   WO   넥센
10       2017   HH   한화
11       2017   HT  KIA
12       2017   KT   KT
13       2017   LG   LG
14       2017   LT   롯데
15       2017   NC   NC
16       2017   OB   두산
17       2017   SK   SK
18       2017   SS   삼성
19       2017   WO   넥센
20       2018   HH   한화
21       2018   HT  KIA
22       2018   KT   KT
23       2018   LG   LG
24       2018   LT   롯데
25       2018   NC   NC
26       2018   OB   두산
27       2018   SK   SK
28       2018   SS   삼성
29       2018   WO   넥센
30       2019   HH   한화
31       2019   HT  KIA
32       2019   KT   KT
33       2019   LG   LG
34       2019   LT   롯데
35       2019   NC   NC
36       2019   OB   두산
37       2019   SK   SK
38       2019   SS   삼성
39       2019   WO   키움
40       2020   HH   한화
41       2020   HT  KIA
42       2020   KT   KT
43       2020   LG   LG
44       2020   LT   롯데
45       2020   NC   NC
46       2020   OB   두산
47       2020   SK   SK
48       2020   SS   삼성
49       2020   WO   키움
50       2021   HH   한화
51       2021   HT  KIA
52       2021   KT   KT
53       2021   LG   LG
54       2021   LT   롯데
55       2021   NC   NC
56       2021   OB   두산
57       2021   SK  SSG
58       2021   SS   삼성
59       2021   WO   키움